.container {
  width: 70%;
  margin: 0 auto;
  color: #444444;
}
.profile-img {
  margin: 0 auto;
  border-radius: 50%;
  vertical-align: middle;
  width: 9rem;
  height: 9rem;
  margin: 1rem;
  border: 1px solid #dbdbdb;
}
.firstRow {
  margin: 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.username {
  font-size: 1.8rem;
  margin-right: 1rem;
}
.editProfie-btn {
  border: 1px solid #444;
  padding: 0rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 4px;
  background-color: #fafafa;
  height: 30px;
  margin-right: 1rem;
}
.settings-btn{
    color: #444;
    font-size: 2rem;
}
.firstRow>p{
    margin-right: 1rem;
}
.hr{
    color: #444;
}
.items-container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item{

}
.post{
    display: inline-block;
    margin: 0 auto;
}
.post img{
    margin: 1rem;
    width: 80px;
    height: 100px;
}