@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

.container {
  width: 70%;
  margin: 0 auto;
  color: #444444;
}
.profile-img {
  margin: 0 auto;
  border-radius: 50%;
  vertical-align: middle;
  width: 8rem;
  height: 8rem;
  margin: 2.5rem 1rem 1rem 1rem;
  border: 1px solid #dbdbdb;
}
.firstRow {
  margin: 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.username {
  font-size: 2rem;
  margin-right: 1rem;
  font-family: 'Barlow', sans-serif;
  padding-top: 0.9rem;
}
.editProfie-btn {
  border: 1px solid #444;
  padding: 0rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 4px;
  background-color: #fafafa;
  height: 30px;
  margin-right: 1rem;
}
.settings-btn{
    color: #444;
    font-size: 1.9rem;
}
.settings-btn:hover{
  cursor: pointer;
}
.firstRow>p{
    margin-right: 1rem;
}
.hr{
    color: #444;
}
.items-container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
}
.item{
  padding: 5px;
  display: inline;
}
.active-item{
  display: inline;
  padding: 5px;
  color: black;
}
// .active-item::before{
//   content: "";
//   position: absolute;
//   top: 41.5%;
//   height: 1px;
//   width: 5rem;
//   left: 33%;
//   background-color: #1b1b1b;
//   z-index: 10;
// }
.active-item>p, .item>p{
  display: inline;
  padding-left: 7px;
}
.imgs-container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
}
.post{
    display: inline-block;
    margin: 0 auto;
}
.post img{
    margin: 1rem;
    width: 18rem;
    height: 19rem;
}
.following-btns{

}
.message-btn, .following, .sugested{
  border: 1px solid #444;
  padding: 0rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 4px;
  background-color: #fafafa;
  height: 30px;
  margin-right: 1rem;
}
.follow-btns{

}
.follow-btn, .more{
  border: 1px solid #0095F6;
  padding: 0rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 4px;
  background-color: #0095F6;
  height: 30px;
  margin-right: 1rem;
  color: white;
}