
.myCloseButton{
    position: absolute !important;
    color: rgb(255, 255, 255) !important;
    top: -100px;
    right: -50px;
    font-size:1.8rem;
    cursor: pointer;
}

.myFProfileImg{
    width: 2.5rem;
    border-radius: 50%;
}
.myFPostImg{
    width:60%;
    height:100%;
}

#scroll-comment{
    height: 350px;
    overflow-y: scroll;
}

