.notify {
	display: block;
	height: 35px;
	background: #e95950;
	color: #fff;
	-webkit-filter: drop-shadow(0px 0px 5px rgba(233, 89, 80, 0.6));
	filter: drop-shadow(0px 0px 5px rgba(233, 89, 80, 0.6));
	position: absolute;
	top: 0px;
	left: 300px;
	border-radius: 7px;
	z-index: 100010;

	&::after {
		content: "";
		width: 10px;
		height: 10px;
		background-color: #e95950;
		position: absolute;
		top: -4px;
		left: 10px;
		border-radius: 3px;
		transform: skew(-30deg, 45deg);
		z-index: 100;
	}
	.notifItem {
		display: inline-block;
		color: #fff;
		font-family: sans-serif;
		font-weight: 600;
		padding: 8px 5px;
		margin-right: 0px;
	}
}
