.newpost-container{
    width: 100%;
    background-color: white !important;
    border: 1px solid rgb(219, 219, 219);
}

.newpost-button{
    width: 100%;
    background-color: transparent !important;
    border-radius: 20px;
}

.post-description{
    background-color:white;
    border: none;
    font-size: 16px;
}

.post-description:focus{
    background-color:white;
    border: none;
    font-size: 16px;
    outline: none;
    box-shadow: none;
}

.file-upload{
    display: none;
}

#image-to-post{
    width: 100%;
}

#select-to-upload-btn{
    
}

.my-post-i{
    font-size:1.3rem;
    color:rgb(83, 90, 92);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;

}
.my-post-i:hover{
    background-color:rgba(168, 168, 168, 0.315);
    font-size:1.3rem;
    color:rgb(83, 90, 92);
    transition: 0.2s;
}

#plus{
    color:#e647be;
}